/*General Setting*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #33cc99;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 47%;
  left: 45%;
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Add container */

.add-container{
  background-color: lightgrey;
  border-radius: 5px;
  width: 300px;
  position: absolute;
  top: 25%;
  left: 40%;
  padding: 30px;
  display: none;
}

.exit-btn{
  outline: none;
  background-color: none;
  border: none;
  border-radius: 15px;
  padding: 5px;
  height: 30px;
  width: 30px;
}

.btn-add-machine{
  margin-top: 13px;
  margin-right: 10px;
}

.red-circle{
  height: 20px;
}

.green-circle{
  height: 20px;
}